<!-- Topics -->
<!--
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="3u">
                <div class="box"><div class="inner right"><h3><span class="red">Planning</span>, before doing. Decide, which goal to reach, before you start walking</h3></div></div>
            </section>
            <section class="3u">
                <div class="box"><a href="#" class="image right"><img src="{{ site.baseurl }}/assets/images/process_lo.png" alt="" /></a></div>
            </section>
            
            <section class="3u">
                <div class="box"><a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/process_ro.png" alt="" /></a></div>
            </section>
            <section class="3u">
                <div class="box"><div class="inner left"><h3>Doing, whatever you do, with fun and the desire to build great work.</h3></div></div>
            </section>
        </div>
        <div class="row">
            <section class="3u">
                <div class="box"><div class="inner"><h3>Testing before doing, helps to define the way and the goal much clearer.</h3></div></div>
            </section>
            <section class="3u">
                <div class="box"><a href="#" class="image right"><img src="{{ site.baseurl }}/assets/images/process_lu.png" alt="" /></a></div>
            </section>
            
            <section class="3u">
                <div class="box"><a href="#" class="image left"><img src="{{ site.baseurl }}/assets/images/process_ru.png" alt="" /></a></div>
            </section>
            <section class="3u">
                <div class="box"><div class="inner"><h3>Imaging what is possible, if you do not want to build your own borders in your thinking.</h3></div></div>
            </section>
        </div>
    </div>
</section>
-->